*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    font-family: "Jost", sans-serif;
	text-decoration: none;
}
header{
    display: flex;
	flex-direction: column;
    align-items: center;
    padding-top:10px;
	padding-bottom:10px;
    background-color: #db3832;
}
#portrait{
  border-radius: 30px;
  border: 1px solid #006400;
}
.labels ul {
	display: table;
	margin: 0 auto;
	padding: 0 auto;
	list-style-type: none;
	overflow: hidden;
	min-width:100%;
	border-radius:70px;
}
.labels li{
    display: inline;
}
.labels li a{
	font-size: 20px;
    padding-left: 18px;
	padding-right: 18px;
    background-color: #f73531;
}
.labels li a:hover{
    background-color: #fffffd;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: center;
    max-width: 100%;
}
.column{
	overflow-wrap: break-word;
	padding-bottom: 10x;
}
.column h2 {
	display: flex;
    justify-content: center;
    align-items: center;
}
#colleft {
	display: flex;
	flex-direction: column;
	background-color:#32d5db;
	height: 100vh;
}
#colleft ul{
    float: left;
	padding-left: 50px;
    flex-direction: column;
	list-style-type: disc;
}
#colright{
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	flex: 90%;
}
#colright ul{
	flex-direction: column;
	list-style-type: disc;
}	
#mycode pre{
	display: flex;
    justify-content: center;
    align-items: center;
}
#mycode pre code {
	background-color: #ddd;
	border: 1px solid #999;
	width:50vh;
}
footer{
    padding-top: 15px;
	background-color: #1e2939;
}
footer ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
footer ul li{
	margin: 10px;
	color:#fffffd;
}
footer ul li img{
    height: 2rem;
    width: auto;
    padding-bottom: 5px;
}
footer ul li a{
	color:#fffffd;
}
footer ul li a:hover{
    color:#edb724;
}